@import "../../../styles/globalVariable.scss";

.restaurants_wrapper {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  #restaurants_near {
    display: none;
  }


  .restaurants_top {
    display: flex;
    width: 100%;
    padding: 1rem 0rem 1.5rem 0rem;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
    gap: 5rem;

    div {
      width: 200px;
      height: 200px;
      cursor: pointer;

      img {
        height: 100%;
        aspect-ratio: 2/3;
        cursor: pointer;
      }
    }
  }

  .restaurants_top::-webkit-scrollbar {
    display: none;
  }

  .restaurants_clear_filter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1.5rem;

    button {
      padding: 0.5rem 1rem;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
      -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
      border: 1px solid rgba(56, 56, 56, 0);
      background: #ffffff;
      border-radius: 0.5rem;
      cursor: pointer;

    }
  }
  
  .restaurants_mid {
    display: flex;
    width: 100%;
    padding: 1rem 0rem 1.5rem 0rem;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      color: black;
      font-size: 2rem;
      margin-bottom: 1.5rem;
      text-align: start;
    }

    input {
      padding: 0 0.5rem;
      height: 2.2rem;
      font-family: "Poppins", sans-serif;
      color: rgb(97, 92, 92);
      font-weight: 400;
      // border: 0.1px solid gray;
      border-radius: 0.5rem;
      box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
      border: 1px solid rgba(0, 0, 0, 0);
      cursor: pointer;
      background: #ffffff;
      margin: 0 0.5rem;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }

    input:hover {
      box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05);
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  .restaurant_cardWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;

    .restaurant_cardLink {
      text-decoration: none;
    }

    .restaurant_card {
      max-width: 20.625rem;
      height: 22.825rem;
      border: 0.1px solid gray;
      padding: 0.6rem;
      border-radius: 0.8rem;
      transition: all 0.5s;

      .restaurant_img {
        width: 100%;
        border-radius: 0.8rem;
        margin-bottom: 0.3rem;
        height: 248px;
      }

      .restaurant_nameRating {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.4rem;

        p {
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          color: rgb(53, 53, 53);
          font-weight: 600;
          font-size: 1.2rem;
        }

        span {
          font-family: "Poppins", sans-serif;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 0.7rem;
          border-radius: 0.5rem;
          font-weight: 600;
          color: $white;
          background-color: green;
        }
      }

      .restaurant_itemApprox {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.3rem;

        p,
        span {
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          color: rgb(53, 53, 53);
          font-weight: 300;
          font-size: 0.85rem;
        }
      }

      .restaurants_address {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        color: rgb(0, 0, 0);
        font-weight: 300;
        font-size: 0.85rem;
        margin-bottom: 0.2rem;
      }

      .restaurant_openDistance {
        display: flex;
        justify-content: space-between;

        p,
        span {
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          color: rgb(53, 53, 53);
          font-weight: 300;
          font-size: 0.85rem;
        }
      }

      #restaurant_open {
        color: rgb(37, 152, 37);
      }
    }

    .restaurant_card:hover {
      border: none;
      -webkit-box-shadow: inset 0px 1px 15px -2px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: inset 0px 1px 15px -2px rgba(0, 0, 0, 0.35);
      box-shadow: inset 0px 1px 15px -2px rgba(0, 0, 0, 0.35);
      transform: scale(1.05);
    }
  }
}

@media only screen and (max-width: 750px) {
  .restaurants_wrapper {
    padding-bottom: 2rem;

    #restaurants_near {
      display: flex;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      color: black;
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
      text-align: center;
    }

    .restaurants_clear_filter {
      justify-content: center;
    }

    .restaurants_mid {
      flex-direction: column;

      h2 {
        text-align: center;
        display: none;
      }
    }


    .restaurants_top {
      gap: 2rem;

      div {
        width: 5rem;
        height: 8rem;
      }
    }

    h2 {
      text-align: center;
    }

    .restaurant_cardWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 0.8rem;
    }
  }
}
