@import '../../styles/globalVariable.scss';

.profile_wrapper {
    padding: 0;
    // display: flex;
    align-items: center;
    justify-content: center;
}

.profile_section {
    margin: 0 auto;
    max-width: 32rem;
    padding: 2rem;
    border: 1px solid rgb(198, 198, 198);

    h2 {
        text-align: center;
        font-size: 2.5rem;
        font-family: 'poppins', sans-serif;
        color: rgb(91, 92, 92);
        font-weight: 600;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        img {
            width: 6rem;
            height: 6rem;
            border-radius: 3rem;
            border: 3px solid rgb(220, 220, 220);
            cursor: pointer;
        }

        input {
            padding: 0.8rem 0rem 0.8rem 0.5rem;
            outline: none;
            width: 98%;
            font-family: 'poppins', sans-serif;
            font-size: 1rem;
        }

        div {
            width: 100%;
            gap: 1rem;
            display: flex;

            button {
                width: 100%;
                padding: 0.5rem 0;
                font-size: 1.3rem;
                font-family: 'poppins', sans-serif;
                outline: none;
                border: none;
                border-radius: 0.5rem;
                color: $white;
                cursor: pointer;
            }

            :nth-child(1) {
                border: 1px solid rgb(33, 200, 33);
                background-color: $white;
                color: rgb(33, 200, 33);
            }

            :nth-child(2) {
                border: 1px solid rgb(242, 52, 52);
                background-color: $white;
                color: rgb(242, 52, 52);
            }
           
        }
    }
}

@media only screen and (max-width: 750px) {
    .profile_section {
        form {
            div {
                flex-direction: column;
            }
        }
    }
}