@import "../../styles/globalVariable.scss";

.header_wrapper {
  padding: 0;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 96;
  background: $white;
}

.header_section {
  max-width: $page-width-xl;
  margin: 0 auto;
  padding: 0.5rem 0;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);

  .header_topSection {
    display: flex;
    padding: 0rem 8rem;
    align-items: center;
    justify-content: space-between;

    .header_logo {
      text-decoration: none;
      color: $white;

      h2 {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        color: rgb(97, 95, 95);
        font-size: 2rem;
        cursor: pointer;
      }
      .header_log_title {
        display: none;
      }
    }

    .header_right {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .header_add_restro {
        text-decoration: none;
        p {
          font-family: "Poppins", sans-serif;
          font-weight: 600;
          color: rgb(118, 115, 115);
          margin: 0.2rem 0;
          font-size: 1rem;
        }
      }
    }

    .header_signin {
      text-decoration: none;
      p {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        color: rgb(129, 126, 126);
        margin: 0.2rem 0;
        font-size: 1rem;
      }
    }

    .header_userIcon {
      width: 3rem;
      background-color: $white;
      border-radius: 50%;
      cursor: pointer;
    }

    .header_sign {
      text-decoration: none;

      p {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        color: rgb(139, 138, 138);
        cursor: pointer;
      }
    }
  }

  .header_bottomSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 55%;

    div {
      background-color: $white;
      padding: 0.5rem;
      border-radius: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;

      .header_bottomLeft {
        max-width: 30%;
        border: 1px solid gainsboro;

        input {
          font-family: "Poppins", sans-serif; 
          font-weight: 400;
          color: gray;
          outline: none;
          border: none;
          font-size: 0.9rem;
          width: 100%;
          padding: 0.2rem;
        }

        .header_map_icon {
          width: 1.3rem;
          height: 1.3rem;
          margin-right: 0.5rem;
          margin-bottom: 0.2rem;
          color: rgb(111, 39, 39);
        }
      }

      .header_bottomRight {
        width: 100%;
        border: 1px solid gainsboro;

        .header_searchBarIcon {
          width: 1.5rem;
          height: 1.5rem;
          margin-right: 0.5rem;
        }

        input {
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          color: gray;
          outline: none;
          font-size: 0.9rem;
          width: 100%;
          padding: 0.2rem;
          border: none;
        }
      }
    }
  }

  .header_popUp {
    position: absolute;
    right: 8rem;
    top: 5rem;
    width: 8rem;
    background: $white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
      -6px -6px 10px -1px rgba(255, 255, 255, 0.7);

    .header_profile {
      text-decoration: none;
      p {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        color: rgb(43, 42, 42);
        margin: 0.2rem 0;
      }
    }

    .mobile_add_restro {
      display: none;
    }

    button {
      padding: 0.1rem 0.8rem;
      margin: 0.2rem 0;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      color: rgb(255, 0, 0);
    }
  }
}

@media only screen and (max-width: 750px) {
  .header_section {
    .header_topSection {
      padding: 0 1rem 0 1rem;
      .header_logo {
        h2 {
          display: none;
        }
        .header_log_title {
          display: flex;
          font-size: 1rem;
        }
      }
    }
    .header_right {
      p {
        display: none;
      }
    }
    .header_bottomSection {
      width: 60%;
      div {
       .header_bottomRight {
          width: 100%;
          border: 1px solid gainsboro;
          .header_searchBarIcon {
            width: 1.1rem;
            height: 1.1rem;
            margin-right: 0.1rem;
          }
          input {
            font-size: 0.8rem;
            padding: 0.1rem;
            width: 100%;
          }
        }
      }
    }
    .header_popUp {
      right: 1rem;

      .mobile_add_restro {
        display: flex;
        .header_add_restro {
          text-decoration: none;
          p {
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            color: rgb(43, 42, 42);
            margin: 0.2rem 0;
          }
        }
      }
    }
  }
}
