@import "../../styles/globalVariable.scss";

.restroDetails_wrapper {
    padding: 0;
}

.restroDetails_section {
    max-width: $page-width-xl;
    margin: 0 auto;
    padding: 5rem 15rem 0rem 15rem;
    position: relative;

    .restroDetails_imgs {
        img {
            height: 20rem;
            object-fit: cover;
            border-radius: 1rem;
            transition: smooth;
        }
    }

    .restroDetails_headingWrapper {
        .restroDetails_nameRating {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.5rem;
    
            h2 {
                font-family: "Poppins", sans-serif;
                font-weight: 400;
                color: rgb(53, 53, 53); 
                font-weight: 600;
                font-size: 2rem;
            }
    
            span {
                font-family: "Poppins", sans-serif;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 1.5rem;
                border-radius: 0.5rem;
                font-weight: 600;
                color: $white;
                background-color: green;
                font-size: 1.5rem;
            }
        }
    
        .restroDetails_itemApprox {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.3rem;
    
            p,
            span {
                font-family: "Poppins", sans-serif;
                font-weight: 400;
                color: rgb(53, 53, 53); 
                font-weight: 400;
                font-size: 1rem;
            }
        }
        .restroDetails_address {
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            color: rgb(0, 0, 0); 
            font-weight: 400;
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }
    
        .restroDetails_openDistance {
            display: flex;
            justify-content: space-between;
    
            p,
            span {
                font-family: "Poppins", sans-serif;
                font-weight: 400;
                color: rgb(53, 53, 53); 
                font-weight: 400;
                font-size: 1rem;
            }
        }
        #restroDetails_open {
            color: red;
        }
    }

    .restroDetails_toggleBtn {
        margin: 3rem 0 1.5rem 0;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        p {
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            color: rgb(53, 53, 53); 
            font-weight: 400;
            font-size: 1rem;

        }
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 1.8rem;

            input {
                opacity: 0;
                width: 0;
                height: 0;
            }
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
          
        input:checked + .slider {
            background-color: #2196F3;
        }
          
        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }
          
        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
          
        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }
          
        .slider.round:before {
            border-radius: 50%;
        }
    }

    .restroDetails_menuWrapper {
        .restroDetails_menuItem {
            -webkit-box-shadow: inset 0px 1px 15px -2px rgba(0,0,0,0.35);
            -moz-box-shadow: inset 0px 1px 15px -2px rgba(0,0,0,0.35);
            box-shadow: inset 0px 1px 15px -2px rgba(0,0,0,0.35);
            border-radius: 0.7rem;
            display: flex;
            justify-content: space-between;
            margin-bottom: 1.5rem;

            .restroDetails_menuItemLeft {
                padding: 1rem;
                img {
                    width: 1.5rem;
                    height: 1.5rem;
                    object-fit: cover;
                }
                h3 {
                    font-family: "Poppins", sans-serif;
                    color: rgb(53, 53, 53); 
                    font-weight: 500;
                    font-size: 1.3rem;
                    margin-bottom: 0.2rem;
                }
                strong {
                    font-family: "Poppins", sans-serif;
                    color: rgb(53, 53, 53); 
                    font-size: 1.2rem;
                    margin-bottom: 0.4rem;
                }
                p {
                    color: rgb(53, 53, 53); 
                    font-size: 1.1rem;
                    font-weight: 400;
                    margin-top: 0.4rem;
                    font-family: "Poppins", sans-serif;

                }
            }

            .restroDetails_menuItemRight {
                padding: 1rem;
                display: flex;
                flex-direction: column;
                position: relative;
                align-items: flex-end;
                justify-content: flex-end;

                img {
                    width: 10rem;
                    border-radius: 0.6rem;
                }

                .restroDetails_addBtn {
                    position: absolute;
                    display: flex;
                    bottom: 1.3rem;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: $white;
                    border-radius: 0.5rem;

                    p {
                        font-family: "Poppins", sans-serif;
                        color: rgb(53, 53, 53);
                        font-size: 1.2rem;
                        margin: 0 0.5rem;
                    }

                    button {
                        font-size: 1.5rem;
                        width: 2.5rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 0.3rem;
                        outline: none;
                        border: none;
                        color: rgb(53, 53, 53);
                        cursor: pointer;
                        background-color: $white;
                    }
                }
            }
        }
    }

    .restroDetails_cartWrapper {
        position: sticky;
        bottom: 2rem;
    }
}

@media only screen and (max-width: 750px) {
    .restroDetails_section {
        padding: 0 1rem 5rem 1rem;

        .restroDetails_menuWrapper {
            .restroDetails_menuItem {
                .restroDetails_menuItemLeft {
                    h3,
                    strong {
                        font-size: 1rem;
                    }
                    p {
                        font-size: 0.750rem;
                    }
                }
                .restroDetails_menuItemRight {
                    height: 7.25rem;
                }
            }
        }
    }
}